{% extends 'travel/base.html' %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-md-6">
    <div class="card shadow-sm">
      <div class="card-body p-4">
        <h3 class="card-title text-center mb-4">Create an Account</h3>
        <form method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <div class="d-grid">
            <button class="btn btn-primary">Register</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}